<html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1,viewport-fit=cover"><style>@media (max-width: 479px) {
    body.splash {
      height: 100%;
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-color: #07414b;
    }
  
    body.splash:after {
      content: url('https://az620379.vo.msecnd.net/static/6fc745da733722d6f383/logo-splash.svg');
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  </style><link href="https://az620379.vo.msecnd.net/static/6fc745da733722d6f383/css/global.3d7636089ba64f06f99f7cfbb5b2f13d.css" rel="stylesheet"><link href="https://az620379.vo.msecnd.net/static/6fc745da733722d6f383/css/app.39addd4d52920e5750062a6cd551cf7a.css" rel="stylesheet"><script src="https://connect.facebook.net/signals/config/375872995927148?v=2.9.40&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script src="https://connect.facebook.net/signals/config/375872995927148?v=2.9.40&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script src="https://connect.facebook.net/signals/config/375872995927148?v=2.9.40&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script src="https://connect.facebook.net/signals/config/375872995927148?v=2.9.40&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script
   src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/978432586/?random=1621878975290&amp;cv=9&amp;fst=1621878975290&amp;num=1&amp;guid=ON&amp;res
  p=GooglemKTybQhCsO&amp;eid=376635470%2C2505059650&amp;u_h=1080&amp;u_w=1920&amp;u_ah=972&amp;u_aw=1920&amp;u_cd=24&amp;u_his=3&amp;u_tz=-240&amp;u_java=true&amp;u_nplug=1&amp;u_nmime=3&amp;
  gtm=2wg5c1&amp;sendb=1&amp;ig=1&amp;frm=0&amp;url=https%3A%2F%2Fwww.predictit.org%2F&amp;ref=https%3A%2F%2Fwww.bing.com&amp;tiba=PredictIt&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script><style>#optimoveSdkWebTool {
  width: 0;
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  background: rgb(65, 60, 60);
  z-index: 1000;
  }}
    body {
      background-color: black
    }
    
    h3- {
      color: rgb(0, 225, 255);
    }
    
    h6 {
      color: rgb(186, 250, 214);
    }
  </style><style type="text/css">.infinite-loading-container[data-v-644ea9c9]{clear:both;text-align:center}.infinite-loading-container[data-v-644ea9c9] [class^=loading-]{display:inline-block;margin:5px 0;width:28px;height:28px;font-size:28px;line-height:28px;border-radius:50%}.btn-try-infinite[data-v-644ea9c9]{margin-top:5px;padding:5px 10px;color:#999;font-size:14px;line-height:1;background:transparent;border:1px solid #ccc;border-radius:3px;outline:none;cursor:pointer}.btn-try-infinite[data-v-644ea9c9]:not(:active):hover{opacity:.8}</style></head>
  <body class=""><div id="app"><div class="overlay"></div> <div class="app-layout-old"><!----> <!----> <!----> <div class="app-layout-old__header app-layout-old__header--secondary"><div><!----></div> 
  <header class="header-old" style="color:white">
    <h4 style="float: left; width: 10=15%;"><b>&emsp;Fantasy</b></h4>
    <h3- style="float: left; width: 17%;"><b>XC</b></h3->
      <center><h5 style="float: left; width: 39%;"><b>name</b>:&emsp;10000x¢</h5></center>
    <h6 style="float: right;">Net Worth:&emsp;10000x¢&emsp;</h6>
  </header><div class="page-secondary-nav page-secondary-nav--browser"><div class="nav-browse-old nav-browse-old--mobile"><div class="nav-browse-old__container"><div class="nav-browse-old__slide"><div class="nav-browse-old__item"><a href="Acheive" class="nav-browse-old__link">
    Achievement Markets
    </a></div></div><div class="nav-browse-old__slide"><div class="nav-browse-old__item"><a href="JV" class="nav-browse-old__link">
      Junior Varsity Markets
    </a></div></div><div class="nav-browse-old__slide"><div class="nav-browse-old__item"><a href="Varsity" class="nav-browse-old__link">
      Varsity Markets
    </a></div></div></div></div></div></div>

    <%- body %>

    <div data-v-644ea9c9="" class="infinite-loading-container"><div data-v-644ea9c9="" class="infinite-status-prompt" style="display: none;"><span data-v-644ea9c9=""><div data-v-644ea9c9="" class="page-markets__spinner"></div></span></div> <div data-v-644ea9c9="" class="infinite-status-prompt" style="display: none;"><span data-v-644ea9c9=""></span></div> <div data-v-644ea9c9="" class="infinite-status-prompt" style="display: none;"><span data-v-644ea9c9=""></span></div> <div data-v-644ea9c9="" class="infinite-status-prompt" style="color: rgb(102, 102, 102); font-size: 14px; padding: 10px 0px; display: none;">

        FantasyXC
      </div></div></footer></div></div> <div class="app-layout-old__bottom-nav"><nav class="main-nav-old"><div class="main-nav-old__menu"><div class="main-nav-old__item"><a href="/" aria-current="page" class="router-link-exact-active router-link-active main-nav-old__link-with-icon main-nav-old__link-with-icon--markets main-nav-old__link" id="nav-markets">
          Markets
      </a> <!----></div><div class="main-nav-old__item"><a href="WeekQuest" class="main-nav-old__link-with-icon main-nav-old__link-with-icon--insight main-nav-old__link" id="nav-insight">
          Weekly Questions
        </a> <!----></div><div class="main-nav-old__item"><a href="WeekRank" class="main-nav-old__link-with-icon main-nav-old__link-with-icon--insight main-nav-old__link" id="nav-insight">
          Weekly Rankings
        </a> <!----></div><div class="main-nav-old__item"><a href="Leaderboard" class="main-nav-old__link-with-icon main-nav-old__link-with-icon--leaderboards main-nav-old__link" id="nav-leaderboards">
          Leaderboard
    </a> <!----></div></div></nav></div></div>
    </form>
</body>
</html>