<title>FantasyXC-Markets</title>
<div><div class="app-layout-old__content app-layout-old__content--secondary"><!----> <div class="page-markets"> <div class="market-section-header page-markets__section-header page-markets__section-header--padding"><div class="market-section-header__title"><div class="row"><div class="column small-8 market-section-header__text">
    All Markets
</div> <div class="column small-4 market-section-header__counter">
6 Markets
</div></div></div></div>
<div class="page-markets__grid"><div class="page-markets__grid-item"><a href="4x800" class="market-list-item-v2 market-list-item-v2--large market-list-item-v2--not-logged market-list-item-v2--grid"><div class="market-list-item-v2__container"><div class="market-list-item-v2__container-bg1"></div> <div class="market-list-item-v2__container-bg2" style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0.2) 30px, rgba(0, 0, 0, 0) 100%), url(&quot;https://i.ibb.co/f2cmMK4/IMG-3052.jpg&quot;);"></div> <div class="row row-100 market-list-item-v2__row"><div class="column small-7 column-100 market-list-item-v2__mask"><div class="market-list-item-v2__main-section"><h3 class="market-list-item-v2__title">
    Who'll make the districts 4x800 team?
  </h3> <div class="market-list-item-v2__contracts"><div class="market-contract-v2 market-contract-v2--grid"><div class="market-contract-v2__title">
Brady Kerrigan
</div> <span class="market-contract-v2__current-price"><span class="animated-number"><span class="animated-number__value">80¢</span></span></span> <span class="market-change-price market-change-price--browse market-change-price--equal">NC</span></div><div class="market-contract-v2 market-contract-v2--grid"><div class="market-contract-v2__title">
Dom Iquina
</div> <span class="market-contract-v2__current-price"><span class="animated-number"><span class="animated-number__value">70¢</span></span></span> <span class="market-change-price market-change-price--browse market-change-price--equal">NC</span></div></div> <div class="market-list-item-v2__shares"><span>0¢ Traded
  </div></div></div> <!----></div> <!----></div></a></div><div class="page-markets__grid-item"><a href="captain" class="market-list-item-v2 market-list-item-v2--large market-list-item-v2--not-logged market-list-item-v2--grid"><div class="market-list-item-v2__container"><div class="market-list-item-v2__container-bg1"></div> <div class="market-list-item-v2__container-bg2" style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0.2) 30px, rgba(0, 0, 0, 0) 100%), url(&quot;https://i.ibb.co/9cQf0Fz/IMG-3057.jpg&quot;);"></div> <div class="row row-100 market-list-item-v2__row"><div class="column small-7 column-100 market-list-item-v2__mask"><div class="market-list-item-v2__main-section"><h3 class="market-list-item-v2__title">
    Who'll be a team captain 2022?
  </h3> <div class="market-list-item-v2__contracts"><div class="market-contract-v2 market-contract-v2--grid"><div class="market-contract-v2__title">
Ben Yasnowski
</div> <span class="market-contract-v2__current-price"><span class="animated-number"><span class="animated-number__value">90¢</span></span></span> <span class="market-change-price market-change-price--browse market-change-price--equal">NC</span></div><div class="market-contract-v2 market-contract-v2--grid"><div class="market-contract-v2__title">
Brady Kerrigan
</div> <span class="market-contract-v2__current-price"><span class="animated-number"><span class="animated-number__value">45¢</span></span></span> <span class="market-change-price market-change-price--browse market-change-price--equal">NC</span></div></div> <div class="market-list-item-v2__shares"><span>0¢ Traded
  </div></div></div> <!----></div> <!----></div></a></div><div class="page-markets__grid-item"><a href="decade" class="market-list-item-v2 market-list-item-v2--large market-list-item-v2--not-logged market-list-item-v2--grid"><div class="market-list-item-v2__container"><div class="market-list-item-v2__container-bg1"></div> <div class="market-list-item-v2__container-bg2" style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0.2) 30px, rgba(0, 0, 0, 0) 100%), url(&quot;https://i.ibb.co/0mKjsDR/IMG-3060.jpg&quot;);"></div> <div class="row row-100 market-list-item-v2__row"><div class="column small-7 column-100 market-list-item-v2__mask"><div class="market-list-item-v2__main-section"><h3 class="market-list-item-v2__title">
    Who'll be the XC Warhawk of the Decade?
  </h3> <div class="market-list-item-v2__contracts"><div class="market-contract-v2 market-contract-v2--grid"><div class="market-contract-v2__title">
Donovan Johnson
</div> <span class="market-contract-v2__current-price"><span class="animated-number"><span class="animated-number__value">45¢</span></span></span> <span class="market-change-price market-change-price--browse market-change-price--equal">NC</span></div><div class="market-contract-v2 market-contract-v2--grid"><div class="market-contract-v2__title">
Ben Yasnowski
</div> <span class="market-contract-v2__current-price"><span class="animated-number"><span class="animated-number__value">35¢</span></span></span> <span class="market-change-price market-change-price--browse market-change-price--equal">NC</span></div></div> <div class="market-list-item-v2__shares"><span>0¢ Traded
  </div></div></div> <!----></div> <!----></div></a></div><div class="page-markets__grid-item"><a href="10thrunner" class="market-list-item-v2 market-list-item-v2--large market-list-item-v2--not-logged market-list-item-v2--grid"><div class="market-list-item-v2__container"><div class="market-list-item-v2__container-bg1"></div> <div class="market-list-item-v2__container-bg2" style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0.2) 30px, rgba(0, 0, 0, 0) 100%), url(&quot;https://i.ibb.co/NrVVhFk/imageA.jpg&quot;);"></div> <div class="row row-100 market-list-item-v2__row"><div class="column small-7 column-100 market-list-item-v2__mask"><div class="market-list-item-v2__main-section"><h3 class="market-list-item-v2__title">
    Who'll be the 10th runner?
  </h3> <div class="market-list-item-v2__contracts"><div class="market-contract-v2 market-contract-v2--grid"><div class="market-contract-v2__title">
Caleb Manahoran
</div> <span class="market-contract-v2__current-price"><span class="animated-number"><span class="animated-number__value">35¢</span></span></span> <span class="market-change-price market-change-price--browse market-change-price--equal">NC</span></div><div class="market-contract-v2 market-contract-v2--grid"><div class="market-contract-v2__title">
Noah Gibson
</div> <span class="market-contract-v2__current-price"><span class="animated-number"><span class="animated-number__value">25¢</span></span></span> <span class="market-change-price market-change-price--browse market-change-price--equal">NC</span></div></div> <div class="market-list-item-v2__shares"><span>0¢ Traded
  </div></div></div> <!----></div> <!----></div></a></div><div class="page-markets__grid-item"><a href="Under17" class="market-list-item-v2 market-list-item-v2--large market-list-item-v2--not-logged market-list-item-v2--grid"><div class="market-list-item-v2__container"><div class="market-list-item-v2__container-bg1"></div> <div class="market-list-item-v2__container-bg2" style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0.2) 30px, rgba(0, 0, 0, 0) 100%), url(&quot;https://i.ibb.co/6F7WrvS/810274-D8-A43-D-445-E-9-F9-A-98677-F6882-AB.jpg&quot;);"></div> <div class="row row-100 market-list-item-v2__row"><div class="column small-7 column-100 market-list-item-v2__mask"><div class="market-list-item-v2__main-section"><h3 class="market-list-item-v2__title">
    How many runners under 17:00?
  </h3> <div class="market-list-item-v2__contracts"><div class="market-contract-v2 market-contract-v2--grid"><div class="market-contract-v2__title">
7
</div> <span class="market-contract-v2__current-price"><span class="animated-number"><span class="animated-number__value">30¢</span></span></span> <span class="market-change-price market-change-price--browse market-change-price--equal">NC</span></div><div class="market-contract-v2 market-contract-v2--grid"><div class="market-contract-v2__title">
8
</div> <span class="market-contract-v2__current-price"><span class="animated-number"><span class="animated-number__value">25¢</span></span></span> <span class="market-change-price market-change-price--browse market-change-price--equal">NC</span></div></div> <div class="market-list-item-v2__shares"><span>0¢ Traded
</div></div></div> <!----></div> <!----></div></a></div><div class="page-markets__grid-item"><a href="Wholeteam" class="market-list-item-v2 market-list-item-v2--large market-list-item-v2--not-logged market-list-item-v2--grid"><div class="market-list-item-v2__container"><div class="market-list-item-v2__container-bg1"></div> <div class="market-list-item-v2__container-bg2" style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0.2) 30px, rgba(0, 0, 0, 0) 100%), url(&quot;https://i.ibb.co/xjNzfnv/21-E9-DF59-EBCE-4456-A6-A3-D1-E2-FBADD4-BC.jpg&quot;);"></div> <div class="row row-100 market-list-item-v2__row"><div class="column small-7 column-100 market-list-item-v2__mask"><div class="market-list-item-v2__main-section"><h3 class="market-list-item-v2__title">
    Who will be JV top 10 most often?
  </h3> <div class="market-list-item-v2__contracts"><div class="market-contract-v2 market-contract-v2--grid"><div class="market-contract-v2__title">

</div> <span class="market-contract-v2__current-price"><span class="animated-number"><span class="animated-number__value">25¢</span></span></span> <span class="market-change-price market-change-price--browse market-change-price--equal">NC</span></div><div class="market-contract-v2 market-contract-v2--grid"><div class="market-contract-v2__title">

</div> <span class="market-contract-v2__current-price"><span class="animated-number"><span class="animated-number__value">20¢</span></span></span> <span class="market-change-price market-change-price--browse market-change-price--equal">NC</span></div></div> <div class="market-list-item-v2__shares"><span>0¢ Traded
</div></div></div>
<!----></div> <!----></div></a></div></div>

</body></html>